[motor_control]
cut_pos_offset: 0.4 # Added to the measured cutter hit when saving cut_pos_x.

# Runtime motor-firmware overrides.
x_param_stall_pos_err_rad: 0.007 # X stall position-error threshold, radians.
y_param_stall_pos_err_rad: 0.007 # Y stall position-error threshold, radians.
x_controller_cur_filter_param_en: 1 # Enable X current filtering.
y_controller_cur_filter_param_en: 1 # Enable Y current filtering.
z_controller_cur_filter_param_en: 1 # Enable Z current filtering.

# Available firmware parameter overrides.
# --- X ---
# x_cmd_int_param_char_cmd_support: 1
# x_controller_cur_filter_param_fc: 6000
# x_controller_cur_loop_pid_fal_param_a: 1.3
# x_controller_cur_loop_pid_fal_param_en: 0
# x_controller_cur_loop_pid_fal_param_zoom: 0.25
# x_controller_cur_loop_pid_param_kc: 0.5
# x_controller_cur_loop_pid_param_ki: 200.0
# x_controller_cur_loop_pid_param_kp: 2.5
# x_controller_fwc_param_I_max: 5.5
# x_controller_fwc_param_en: 1
# x_controller_fwc_param_wm_base: 100
# x_controller_leso_param_b0k: 1
# x_controller_leso_param_wd: 400
# x_controller_leso_param_wp: 4000
# x_controller_leso_param_ws: 4000
# x_controller_leso_param_z3k: 0
# x_controller_param_en_feedforward_idiq: 1
# x_controller_param_en_feedforward_uduq: 1
# x_controller_pos_loop_pid_param_kp: 300.0
# x_controller_spd_loop_pid_fal_param_a: 0.7
# x_controller_spd_loop_pid_fal_param_en: 0
# x_controller_spd_loop_pid_fal_param_zoom: 0.1
# x_controller_spd_loop_pid_param_kc: 0.5
# x_controller_spd_loop_pid_param_ki: 8
# x_controller_spd_loop_pid_param_kp: 0.025
# x_controller_td_fhan_param_f0: 1000.0
# x_controller_td_param_d_gain: 1.0
# x_controller_td_param_dd_gain: 0.0
# x_controller_td_param_en: 1
# x_controller_td_param_h0_gain_h: 20.0
# x_motor_param_Ke: 0.101859
# x_motor_param_L: 0.001
# x_motor_param_R: 0.6
# x_param_encoder_calibtate_official_ud_cal_set: 0.15
# x_param_motion_dir: 1
# x_param_stall_cur_A: 0.7
# x_param_stall_mode: 2
# x_param_ud_cal_set: 0.15
# x_protection_param_mcu_temp_max: 115.0
# x_protection_param_power_voltage_min: 20.0
# x_protection_param_protect_en: 1
# x_protection_param_prt_continuous_cur_A: 4.0
# x_protection_param_prt_continuous_time_s: 1.0
# x_protection_param_prt_over_speed_rad_s: 314.1592653589793
# x_protection_param_prt_over_speed_time_s: 0.1
# x_protection_param_prt_peak_cur_A: 999.0
# x_protection_param_prt_track_err_time: 0.1
# x_protection_param_prt_track_max_err: 0.1
# x_stall_pos_err_rad_for_slicer: 0.016375
# x_step_controller_param_subdivision: 16
# x_zazen_param_zazen_en: 1
# x_zazen_param_zazen_gain_cur_ki: 1.0
# x_zazen_param_zazen_gain_cur_kp: 1.0
# x_zazen_param_zazen_gain_spd_ki: 0.5
# x_zazen_param_zazen_gain_spd_kp: 0.5
# x_zazen_param_zazen_trigger_time_s: 1.0

# --- Y ---
# y_cmd_int_param_char_cmd_support: 1
# y_controller_cur_filter_param_fc: 6000
# y_controller_cur_loop_pid_fal_param_a: 1.3
# y_controller_cur_loop_pid_fal_param_en: 0
# y_controller_cur_loop_pid_fal_param_zoom: 0.25
# y_controller_cur_loop_pid_param_kc: 0.5
# y_controller_cur_loop_pid_param_ki: 200.0
# y_controller_cur_loop_pid_param_kp: 2.5
# y_controller_fwc_param_I_max: 5.5
# y_controller_fwc_param_en: 1
# y_controller_fwc_param_wm_base: 100
# y_controller_leso_param_b0k: 1
# y_controller_leso_param_wd: 400
# y_controller_leso_param_wp: 4000
# y_controller_leso_param_ws: 4000
# y_controller_leso_param_z3k: 0
# y_controller_param_en_feedforward_idiq: 1
# y_controller_param_en_feedforward_uduq: 1
# y_controller_pos_loop_pid_param_kp: 300.0
# y_controller_spd_loop_pid_fal_param_a: 0.7
# y_controller_spd_loop_pid_fal_param_en: 0
# y_controller_spd_loop_pid_fal_param_zoom: 0.1
# y_controller_spd_loop_pid_param_kc: 0.5
# y_controller_spd_loop_pid_param_ki: 8
# y_controller_spd_loop_pid_param_kp: 0.025
# y_controller_td_fhan_param_f0: 1000.0
# y_controller_td_param_d_gain: 1.0
# y_controller_td_param_dd_gain: 0.0
# y_controller_td_param_en: 1
# y_controller_td_param_h0_gain_h: 20.0
# y_motor_param_Ke: 0.101859
# y_motor_param_L: 0.001
# y_motor_param_R: 0.6
# y_param_encoder_calibtate_official_ud_cal_set: 0.15
# y_param_motion_dir: 1
# y_param_stall_cur_A: 0.7
# y_param_stall_mode: 2
# y_param_ud_cal_set: 0.15
# y_protection_param_mcu_temp_max: 115.0
# y_protection_param_power_voltage_min: 20.0
# y_protection_param_protect_en: 1
# y_protection_param_prt_continuous_cur_A: 4.0
# y_protection_param_prt_continuous_time_s: 1.0
# y_protection_param_prt_over_speed_rad_s: 314.1592653589793
# y_protection_param_prt_over_speed_time_s: 0.1
# y_protection_param_prt_peak_cur_A: 999.0
# y_protection_param_prt_track_err_time: 0.1
# y_protection_param_prt_track_max_err: 0.1
# y_stall_pos_err_rad_for_slicer: 0.016375
# y_step_controller_param_subdivision: 16
# y_zazen_param_zazen_en: 1
# y_zazen_param_zazen_gain_cur_ki: 1.0
# y_zazen_param_zazen_gain_cur_kp: 1.0
# y_zazen_param_zazen_gain_spd_ki: 0.5
# y_zazen_param_zazen_gain_spd_kp: 0.5
# y_zazen_param_zazen_trigger_time_s: 1.0

# --- Z ---
# z_cmd_int_param_char_cmd_support: 1
# z_controller_cur_filter_param_fc: 6000
# z_controller_cur_loop_pid_fal_param_a: 1.3
# z_controller_cur_loop_pid_fal_param_en: 0
# z_controller_cur_loop_pid_fal_param_zoom: 0.25
# z_controller_cur_loop_pid_param_kc: 0.5
# z_controller_cur_loop_pid_param_ki: 200.0
# z_controller_cur_loop_pid_param_kp: 2.5
# z_controller_fwc_param_I_max: 5.5
# z_controller_fwc_param_en: 1
# z_controller_fwc_param_wm_base: 100
# z_controller_leso_param_b0k: 1
# z_controller_leso_param_wd: 400
# z_controller_leso_param_wp: 4000
# z_controller_leso_param_ws: 4000
# z_controller_leso_param_z3k: 0
# z_controller_param_en_feedforward_idiq: 1
# z_controller_param_en_feedforward_uduq: 1
# z_controller_pos_loop_pid_param_kp: 300.0
# z_controller_spd_loop_pid_fal_param_a: 0.7
# z_controller_spd_loop_pid_fal_param_en: 0
# z_controller_spd_loop_pid_fal_param_zoom: 0.1
# z_controller_spd_loop_pid_param_kc: 0.5
# z_controller_spd_loop_pid_param_ki: 8
# z_controller_spd_loop_pid_param_kp: 0.025
# z_controller_td_fhan_param_f0: 1000.0
# z_controller_td_param_d_gain: 1.0
# z_controller_td_param_dd_gain: 0.0
# z_controller_td_param_en: 1
# z_controller_td_param_h0_gain_h: 20.0
# z_motor_param_Ke: 0.101859
# z_motor_param_L: 0.001
# z_motor_param_R: 0.6
# z_param_encoder_calibtate_official_ud_cal_set: 0.15
# z_param_motion_dir: 1
# z_param_stall_cur_A: 0.7
# z_param_stall_mode: 2
# z_param_stall_pos_err_rad: 0.015
# z_param_ud_cal_set: 0.15
# z_protection_param_mcu_temp_max: 115.0
# z_protection_param_power_voltage_min: 20.0
# z_protection_param_protect_en: 1
# z_protection_param_prt_continuous_cur_A: 4.0
# z_protection_param_prt_continuous_time_s: 1.0
# z_protection_param_prt_over_speed_rad_s: 314.1592653589793
# z_protection_param_prt_over_speed_time_s: 0.1
# z_protection_param_prt_peak_cur_A: 999.0
# z_protection_param_prt_track_err_time: 0.1
# z_protection_param_prt_track_max_err: 0.1
# z_stall_pos_err_rad_for_slicer: 0.016375
# z_step_controller_param_subdivision: 16
# z_zazen_param_zazen_en: 1
# z_zazen_param_zazen_gain_cur_ki: 1.0
# z_zazen_param_zazen_gain_cur_kp: 1.0
# z_zazen_param_zazen_gain_spd_ki: 0.5
# z_zazen_param_zazen_gain_spd_kp: 0.5
# z_zazen_param_zazen_trigger_time_s: 1.0

# --- Z1 ---
# z1_cmd_int_param_char_cmd_support: 1
# z1_controller_cur_filter_param_fc: 6000
# z1_controller_cur_loop_pid_fal_param_a: 1.3
# z1_controller_cur_loop_pid_fal_param_en: 0
# z1_controller_cur_loop_pid_fal_param_zoom: 0.25
# z1_controller_cur_loop_pid_param_kc: 0.5
# z1_controller_cur_loop_pid_param_ki: 200.0
# z1_controller_cur_loop_pid_param_kp: 2.5
# z1_controller_fwc_param_I_max: 5.5
# z1_controller_fwc_param_en: 1
# z1_controller_fwc_param_wm_base: 100
# z1_controller_leso_param_b0k: 1
# z1_controller_leso_param_wd: 400
# z1_controller_leso_param_wp: 4000
# z1_controller_leso_param_ws: 4000
# z1_controller_leso_param_z3k: 0
# z1_controller_param_en_feedforward_idiq: 1
# z1_controller_param_en_feedforward_uduq: 1
# z1_controller_pos_loop_pid_param_kp: 300.0
# z1_controller_spd_loop_pid_fal_param_a: 0.7
# z1_controller_spd_loop_pid_fal_param_en: 0
# z1_controller_spd_loop_pid_fal_param_zoom: 0.1
# z1_controller_spd_loop_pid_param_kc: 0.5
# z1_controller_spd_loop_pid_param_ki: 8
# z1_controller_spd_loop_pid_param_kp: 0.025
# z1_controller_td_fhan_param_f0: 1000.0
# z1_controller_td_param_d_gain: 1.0
# z1_controller_td_param_dd_gain: 0.0
# z1_controller_td_param_en: 1
# z1_controller_td_param_h0_gain_h: 20.0
# z1_motor_param_Ke: 0.101859
# z1_motor_param_L: 0.001
# z1_motor_param_R: 0.6
# z1_param_encoder_calibtate_official_ud_cal_set: 0.15
# z1_param_motion_dir: 1
# z1_param_stall_cur_A: 0.7
# z1_param_stall_mode: 2
# z1_param_stall_pos_err_rad: 0.015
# z1_param_ud_cal_set: 0.15
# z1_protection_param_mcu_temp_max: 115.0
# z1_protection_param_power_voltage_min: 20.0
# z1_protection_param_protect_en: 1
# z1_protection_param_prt_continuous_cur_A: 4.0
# z1_protection_param_prt_continuous_time_s: 1.0
# z1_protection_param_prt_over_speed_rad_s: 314.1592653589793
# z1_protection_param_prt_over_speed_time_s: 0.1
# z1_protection_param_prt_peak_cur_A: 999.0
# z1_protection_param_prt_track_err_time: 0.1
# z1_protection_param_prt_track_max_err: 0.1
# z1_stall_pos_err_rad_for_slicer: 0.016375
# z1_step_controller_param_subdivision: 16
# z1_zazen_param_zazen_en: 1
# z1_zazen_param_zazen_gain_cur_ki: 1.0
# z1_zazen_param_zazen_gain_cur_kp: 1.0
# z1_zazen_param_zazen_gain_spd_ki: 0.5
# z1_zazen_param_zazen_gain_spd_kp: 0.5
# z1_zazen_param_zazen_trigger_time_s: 1.0

# --- E ---
# e_cmd_int_param_char_cmd_support: 1
# e_controller_cur_filter_param_en: 0
# e_controller_cur_filter_param_fc: 6000
# e_controller_cur_loop_pid_fal_param_a: 1.3
# e_controller_cur_loop_pid_fal_param_en: 0
# e_controller_cur_loop_pid_fal_param_zoom: 0.25
# e_controller_cur_loop_pid_param_kc: 0.5
# e_controller_cur_loop_pid_param_ki: 200.0
# e_controller_cur_loop_pid_param_kp: 2.5
# e_controller_fwc_param_I_max: 5.5
# e_controller_fwc_param_en: 1
# e_controller_fwc_param_wm_base: 100
# e_controller_leso_param_b0k: 1
# e_controller_leso_param_wd: 400
# e_controller_leso_param_wp: 4000
# e_controller_leso_param_ws: 4000
# e_controller_leso_param_z3k: 0
# e_controller_param_en_feedforward_idiq: 1
# e_controller_param_en_feedforward_uduq: 1
# e_controller_pos_loop_pid_param_kp: 300.0
# e_controller_spd_loop_pid_fal_param_a: 0.7
# e_controller_spd_loop_pid_fal_param_en: 0
# e_controller_spd_loop_pid_fal_param_zoom: 0.1
# e_controller_spd_loop_pid_param_kc: 0.5
# e_controller_spd_loop_pid_param_ki: 8
# e_controller_spd_loop_pid_param_kp: 0.025
# e_controller_td_fhan_param_f0: 1000.0
# e_controller_td_param_d_gain: 1.0
# e_controller_td_param_dd_gain: 0.0
# e_controller_td_param_en: 1
# e_controller_td_param_h0_gain_h: 20.0
# e_motor_param_Ke: 0.101859
# e_motor_param_L: 0.001
# e_motor_param_R: 0.6
# e_param_encoder_calibtate_official_ud_cal_set: 0.15
# e_param_motion_dir: 1
# e_param_stall_cur_A: 0.7
# e_param_stall_mode: 2
# e_param_stall_pos_err_rad: 0.015
# e_param_ud_cal_set: 0.15
# e_protection_param_mcu_temp_max: 115.0
# e_protection_param_power_voltage_min: 20.0
# e_protection_param_protect_en: 1
# e_protection_param_prt_continuous_cur_A: 4.0
# e_protection_param_prt_continuous_time_s: 1.0
# e_protection_param_prt_over_speed_rad_s: 314.1592653589793
# e_protection_param_prt_over_speed_time_s: 0.1
# e_protection_param_prt_peak_cur_A: 999.0
# e_protection_param_prt_track_err_time: 0.1
# e_protection_param_prt_track_max_err: 0.1
# e_stall_pos_err_rad_for_slicer: 0.016375
# e_step_controller_param_subdivision: 16
# e_zazen_param_zazen_en: 1
# e_zazen_param_zazen_gain_cur_ki: 1.0
# e_zazen_param_zazen_gain_cur_kp: 1.0
# e_zazen_param_zazen_gain_spd_ki: 0.5
# e_zazen_param_zazen_gain_spd_kp: 0.5
# e_zazen_param_zazen_trigger_time_s: 1.0
