# === Host and MCUs ===

[danger_options]
log_statistics: True
log_config_file_at_startup: True
log_bed_mesh_at_startup: False
log_velocity_limit_changes: False
log_pressure_advance_changes: False
log_shutdown_info: True
log_serial_reader_warnings: True
log_startup_info: True
log_webhook_method_register_messages: False
multi_mcu_trsync_timeout: .1

[serial_485 serial485] #LT: Not in stock K2 Pro
serial: /dev/ttyS5
baud: 230400

[mcu]
serial: /dev/ttyS2
baud: 230400
restart_method: command

[mcu nozzle_mcu]
serial: /dev/ttyS3
baud: 230400
restart_method: command

# [mcu rpi] #LT: Not commented out in stock K2 Pro
# serial: /tmp/klipper_host_mcu

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: -30
max_temp: 100

[temperature_sensor nozzle_mcu_temp] #LT: Not in stock K2 Pro
sensor_type: temperature_mcu
sensor_mcu: nozzle_mcu
min_temp: -30
max_temp: 100

[duplicate_pin_override]
pins: PC5,PC7,PB7,PB8,PB9,PB10,PB5,PB6,PA1,PB15,PB11,PB12,PB13,PA10,PA9,PA15,PA8 #LT: 2 extra and 4 missing compared to stock K2 Pro
#pro: PC5,PC7,PB7,PB8,PB9,PB10,PB5,PB6,PA1,PB15,PB11,PB12,PB13,PA10,PA9,PB2,PB14,PB3,PB1
#PA15 is z endstop on PRO
#PA8 is mentioned along with PA15, and I assumed was for the second z endstop on the PLUS. Is actually [stepper_y] enable_pin ! on the PRO
#PB2 is [heater_fan chamber_fan] enable_pin as well as [output_pin ptc_power] pin on the PRO
#PB3 and PB1 are both [multi_pin chassis_fan] pins and [multi_pin filter_fan] pins on the PRO

[telemetry] #LT: Not in stock K2 Pro
enabled: False

[virtual_sdcard]
path: /mnt/UDISK/printer_data/gcodes
on_error_gcode: _RESET_PRINT_STATE #LT: Not in stock K2 Pro

[power_loss_recovery] #LT: Not in stock K2 Pro

[idle_timeout]
timeout: 99999999

[force_move] #LT: Not in stock K2 Pro
enable_force_move: true

[force_stop_homing] #LT: Not in stock K2 Pro

[gcode_arcs] #LT: is 0.012 in stock K2 Pro
resolution: 1.0

[exclude_object]

[display_status]

[pause_resume]


# === Motion ===

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 30000 #LT: 20000
#LT: max_accel_to_decel: 20000
minimum_cruise_ratio: 0.5 #LT: Not in stock K2 Pro
max_z_velocity: 30 #LT: 10
max_z_accel: 1000 #LT: 300
square_corner_velocity: 10

[stepper_x]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PA9
microsteps: 16
rotation_distance: 40
endstop_pin: PB11
position_endstop: 352.5 #LT: 302
position_min: -4 #LT: -13
position_max: 352.5 #LT: 302
homing_speed: 150 #LT: 100
second_homing_speed: 50 #LT: Not in stock K2 Pro
homing_retract_dist: 5 #LT: 10
homing_accel: 1000 #LT: Not in stock K2 Pro

[stepper_y]
step_pin: PB10
dir_pin: PB9
enable_pin: !PA9 #LT: !PA8
microsteps: 16
rotation_distance: 40
endstop_pin: PB12
position_endstop: -6.2 #No spacer #LT: -6.5
position_min: -6.2 #No spacer #LT: -6.5
position_max: 352 #LT: 332
homing_speed: 150 #LT: 100
second_homing_speed: 50 #LT: Not in stock K2 Pro
homing_retract_dist: 5 #LT: 10
homing_accel: 1000 #LT: Not in stock K2 Pro

[stepper_z]
step_pin: PB6
dir_pin: PB5 #LT: !PB5
enable_pin: !PA9 #LT: !PA10
microsteps: 16
rotation_distance: 8
#LT: gear_ratio: 64:20
endstop_pin: probe:z_virtual_endstop
position_min: -3 #LT: -10
position_max: 360 #LT: 303
homing_speed: 5
#LT: second_homing_speed: 5
homing_retract_dist: 0 #LT: 5

[stepper_z1] #LT: Omit for K2 Pro
step_pin: PB15
dir_pin: PA1
enable_pin: !PA9
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop

[z_tilt] #LT: Omit for K2 Pro
z_positions:
    -15,175
    375,175
points:
    5,175
    345,175
speed: 400
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.1

[z_align]
rising_dist: 5
rise_distance: 340 #LT: Would have to be changed for PRO to 290
rise_speed: 50
#LT: Multiple extra lines from stock K2 Pro, comments translated:
#distance_ratio: 0.85  # Ratio coefficient for quick upward movement distance
#quick_speed: 10 # mm/s  Homing/descending speed
#slow_speed: 10 # mm/s  Probing speed
#rising_dist: 10 # mm  Upward travel distance after the optical sensor is first triggered
#safe_dist: 40 # mm  Heatbed tilt deviation safety limit (allowed downward distance for one side after the optical sensor on the other side is triggered)
#filter_cnt: 10 # Number of consecutive endstop triggers used for signal filtering
#timeout: 80 # s  Timeout duration for a single probing attempt
#retries: 5 # Number of retries
#retry_tolerance: 10  # Maximum allowable deviation between the two optical sensors (10 steps; step distance is 0.0025mm)
#endstop_pin_z: PA15  # Optical trigger pin (Format for multiple optical sensors: PA15, PA8... supports up to 4)
#zd_up: 1  # Logic level when the stepper motor moves away from the endstop switch
#zes_untrig: 1  # Logic level when the endstop switch is untriggered
#zmax_safe_pox_diff: 2 # Safe position difference: zmax_safe_pox = (position_max in stepper_z) - zmax_safe_pox_diff

[axis_twist_compensation] #LT: Not in stock K2 Pro
calibrate_start_x: 10
calibrate_end_x: 340 #LT: Change to 290
calibrate_y: 176 #LT: Change to 150

[screws_tilt_adjust]
screw1: 45, 28
screw1_name: Front Left
screw2: 307, 28 #LT: 255, 28
screw2_name: Front Right
screw3: 307, 314 #LT: 255, 272
screw3_name: Rear Right
screw4: 45, 314 #LT: 45, 272
screw4_name: Rear Left
speed: 150
horizontal_move_z: 10
screw_thread: CW-M4


# === Heaters ===

[thermistor my_thermistor]
temperature1: 25
resistance1: 260000 #LT: 98633
temperature2: 220
resistance2: 738 #LT: 377
temperature3: 350 #LT: 320
resistance3: 98 #LT: 73

[extruder]
max_extrude_cross_section: 100
max_extrude_only_distance: 1000.0
step_pin: nozzle_mcu:PB5
dir_pin: !nozzle_mcu:PB4
enable_pin: !nozzle_mcu:PB2
microsteps: 16
rotation_distance: 6.9
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nozzle_mcu:PB8
sensor_type: my_thermistor
sensor_pin: nozzle_mcu:PA0
pressure_advance: 0.038
pressure_advance_smooth_time: 0.038
min_temp: -30
max_temp: 390
control: pid
pid_kp: 14.296 #LT: 26.861
pid_ki: 1.271 #LT: 3.035
pid_kd: 40.206 #LT: 59.429
#LT: PRO adds high_temp pid values

#LT: PRO has custom bed thermistor instead of the EPCOS
#[thermistor custom_bed_thermistor]
#temperature1: 25
#resistance1: 100000
#temperature2: 50
#resistance2: 35884.2
#temperature3: 100
#resistance3: 6610.1

[heater_bed]
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F #LT: PRO has custom bed thermistor instead of the EPCOS
sensor_pin: PC4
control: pid
pid_Kp: 37
pid_Ki: 0.18
pid_Kd: 280
min_temp: -30
max_temp: 135

[heater_generic chamber_heater]
heater_pin: PC12
max_power: 1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC5
control: watermark
max_delta: 1.0 #LT: Not in stock K2 Pro
min_temp: -30
max_temp: 80

[ptc_power_limiter] #LT: Not in stock K2 Pro. MUST BE CUSTOMIZED!!!!
bed: heater_bed
chamber: heater_generic chamber_heater
# Total normalized load allowed across bed and chamber PTC.
max_combined_load: 1.1
# Load consumed when bed PWM is 100%.
bed_full_load: 1.0
# Load consumed when chamber PTC PWM is 100%.
chamber_full_load: 0.35
# Drop tiny chamber requests instead of pulsing below useful output.
minimum_useful_chamber_power: 0.20

[verify_heater extruder]
check_gain_time: 60
heating_gain: 1.0

[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[verify_heater chamber_heater]
max_error: 80
check_gain_time: 345600
hysteresis: 15
heating_gain: 1


# === Fans, LEDs, and outputs ===

[fan_feedback] #LT: Not in stock K2 Pro

[fan] #LT: Not listed as [fan] but as [output_pin fan0] and [output_pin fan0_en]
pin: !nozzle_mcu:PB15
enable_pin: nozzle_mcu:PB6
cycle_time: 0.010
hardware_pwm: false
min_power: 0.10
shutdown_speed: 0

[temperature_fan chamber_exhaust_fans] #LT: Listed as [temperature_fan chamber_fan]
pin: PA0 #LT: multi_pin: filter_fan which is listed as [multi_pin filter_fan] pins:PB1,PB3 # PA0 is listed as [output_pin board_dissipation_fan] pin
#LT: enable_pin: PB2 #which is also listed as [output_pin ptc_power] pin along with value: 1
cycle_time: 0.025 #LT: 0.0100
hardware_pwm: false
sensor_type: NTC 100K MGB18-104F39050L32 #LT: EPCOS 100K B57560G104F
sensor_pin: PC5
control: watermark
target_temp: 0 #LT: 35
max_delta: 0.5 #LT: 0.3
min_temp: -30
max_temp: 80
max_speed: 1.0
min_speed: 0.0
shutdown_speed: 0

[temperature_fan_manual_floor chamber_exhaust_fans] #LT: Not in stock K2 Pro

[multi_pin aux_fan_pins]
pins: PB4,PB3 #LT: PB4 is heater_fan2 aka fan2. PB3 is one of chassis_fan aka fan1 and filter_fan aka chamber_fan

[fan_generic aux_fans] #LT: I guess supposed to be chamber circulation, and therefore also chamber heating fan. 
pin: multi_pin:aux_fan_pins
cycle_time: 0.025
hardware_pwm: false
min_power: 0.35
kick_start_time: 1.0
shutdown_speed: 0

[controller_fan extruder_motor_fan] #LT: [output_pin extruder_fan] on PRO
pin: nozzle_mcu:PB1
stepper: 
heater: extruder
fan_speed: 1.0
idle_timeout: 30
shutdown_speed: 0

[heater_fan heatbreak_fan] #LT: [heater_fan hotend_fan] on PRO
pin: nozzle_mcu:PB7
heater: extruder
heater_temp: 60.0 #LT: 50.0
fan_speed: 1.0
shutdown_speed: 1.0 #LT: Does this keep it on always?

[controller_fan ssr_board_fan] #LT: Maybe same purpose as [output_pin board_dissipation_fan] pin: PA0 on PRO
pin: PB1
heater: heater_bed,chamber_heater
stepper:
fan_speed: 1.0
idle_speed: 0.5
idle_timeout: 30
shutdown_speed: 0.0

[chamber_heater_circulation_fan chamber_heater_fan]
pin: !PB14
enable_pin: PB2
heater: chamber_heater
# Fan speed while chamber heater PWM is active before print starts
preheat_speed: 1.0
# Fan speed while chamber heater PWM is during print(Creality always ran it at 30%)
printing_speed: 0.30

[multi_pin LED_pin]
pins: PB0,PA12

[output_pin LED]
pin: multi_pin:LED_pin
pwm: True
cycle_time: 0.010
value: 1

[led_idle_manager]
timeout: 300            # seconds of inactivity before LEDs switch off

# === Sensors ===

[filament_switch_sensor filament_sensor] #LT: Different on PRO, but probalby intentional
pause_on_runout: false
smart: true
runout_distance: 5.0 # mm available after the printhead sensor clears. box uses this to try and pause during infill to hide blemishes
switch_pin: ^!nozzle_mcu:PA11
runout_gcode:
  RESPOND TYPE=echo MSG="Filament sensor runout"
  BOX_RUNOUT_CHECK

[lis2dw]
cs_pin: nozzle_mcu:PA4
spi_speed: 5000000
axes_map: x,z,y
spi_software_sclk_pin: nozzle_mcu:PA5
spi_software_mosi_pin: nozzle_mcu:PA7
spi_software_miso_pin: nozzle_mcu:PA6

[resonance_tester]
accel_chip: lis2dw
probe_points:
   175,175,10 #LT: 150,150,150 # but 150,150,10 seems better
min_freq: 20
max_freq: 120
accel_per_hz: 100

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 50
shaper_type_y: mzv
shaper_freq_y: 50

[belt_mdl x] #LT: [belt_mdl mdlx]
target_tension: 140
tension_tolerance: 0.02
calibration_low_tension: 140
calibration_high_tension: 160
settle_distance: 50
settle_speed: 60
#LT: entirely different settings in PRO, translated:
#ch_max_dis: 5 # Maximum module travel distance, unit: mm
#ch_best_n:  140 # Optimal belt tension/force, unit: N
#ch_best_error: 0.15   # Belt detection error margin ±0.15

[belt_mdl y] #LT: [belt_mdl mdly]
target_tension: 140
tension_tolerance: 0.02
calibration_low_tension: 140
calibration_high_tension: 160
settle_distance: 50
settle_speed: 60
#LT: entirely different settings in PRO, translated:
#ch_max_dis: 5 # Maximum module travel distance, unit: mm
#ch_best_n:  140 # Optimal belt tension/force, unit: N
#ch_best_error: 0.15   # Belt detection error margin ±0.15


# === Includes (overrides.cfg loads last and wins) ===

[include macros.cfg] #LT: [include gcode_macro.cfg]
[include start_print.cfg] #LT: Not present
[include box.cfg]
[include motor_control.cfg]
# BEGIN_PROBE_STACK
# [include prtouch.cfg] #LT: Re-Enable. Might have been [include sensorless.cfg]
[include cartographer.cfg] #LT: Disable
# END_PROBE_STACK
[include kamp.cfg] #LT: [include KAMP/KAMP_Settings.cfg]
[include timelapse.cfg] #LT: Disable?
[include overrides.cfg]
